*{
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
.header{
    width: 100%;
    position: fixed;
    background-color: #04A5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 15%;
}
.header .logo{
    cursor: pointer;
}
.header .nav-links{
    list-style:none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links a{
    font-size: 700;
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.header .nav-links li a {
    position: relative;
    text-decoration: none;
    color: #ffffff; /* Color de texto normal */
    transition: color 0.3s;
}

.header .nav-links li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Grosor del subrayado */
    bottom: 0;
    left: 0;
    background-color: transparent; /* Color de subrayado normal */
    transition: background-color 0.3s;
}

.header .nav-links li a:hover {
    color: #fff; /* Color de texto al pasar el mouse */
}

.header .nav-links li a:hover::before {
    background-color: #fff; /* Color de subrayado al pasar el mouse */
}
.btn-login{
    padding: 15px 30px 15px 30px;
    background-color: #42B4EE;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
}

.principal-inicio{
    background-color: #04A5E5;
    display: flex;
    height: 900px;
    padding: 5px 15%;
    color: #ffffff;
    justify-content: space-between;
    .texto-presentacion, .imagen-presentacion{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.principal-inicio .texto-presentacion h1{
    font-size: 62px;
    margin-bottom: 20px;
}
.principal-inicio .texto-presentacion p{
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 100;
}
.btn-login:hover{
    background-color: #004b69;
    transition: background-color 0.4s;
}
.comunidad{
    background-color: #ffffff;
    display: flex;
    height: 800px;
    padding: 5px 15%;
    color: #000000;
    justify-content: space-evenly;
    .imagen-presentacion, .texto-caracteristicas{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.comunidad .texto-caracteristicas .texto-caracteristicas-interior ul{
    list-style: none;
}
.comunidad .texto-caracteristicas .texto-caracteristicas-interior ul li{
    display: flex;
}
.comunidad .texto-caracteristicas .texto-caracteristicas-interior ul li .primera-caracteristica, .segunda-caracteristica, .tercera-caracteristica{
    margin-left: 15px;
    margin-bottom: 20px;
}
.comunidad .texto-caracteristicas .texto-caracteristicas-interior ul li .primera-caracteristica h3, .segunda-caracteristica h3, .tercera-caracteristica h3{
    font-size: 25px;
    font-weight: 600;
}
.comunidad .texto-caracteristicas .texto-caracteristicas-interior ul li .primera-caracteristica p, .segunda-caracteristica p, .tercera-caracteristica p{
    width: 400px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
}
.comunidad .texto-caracteristicas .texto-caracteristicas-interior h1{
    font-size: 44px;
    margin-bottom: 80px;
}
.recursos {
    text-align: center;
    margin-top: 100px;
    .cartilla {
        width: 300px;
        margin: 20px;
        display: inline-block;
        background-color: #ffffff;
        border-radius: 5px;
        padding-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        .cartilla-imagen .cartilla-imagen-interior-1{
            width: 155px;
            height: 145px;
            margin: 0 auto;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(203, 57, 239, 0.15);
        }
        .cartilla-imagen .cartilla-imagen-interior-2{
            width: 155px;
            height: 145px;
            margin: 0 auto;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(39, 174, 96, 0.15)
        }
        .cartilla-imagen .cartilla-imagen-interior-3{
            width: 155px;
            height: 145px;
            margin: 0 auto;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(239, 186, 50, 0.15)
        }
        .cartilla-imagen .cartilla-imagen-interior-4{
            width: 155px;
            height: 145px;
            margin: 0 auto;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(210, 15, 57, 0.15)
        }
        .cartilla-texto{
            margin-top: 20px;
            padding: 60px 40px;
        }
        .cartilla-texto:hover{
            background-color: #04A5E5;
            color: #ffffff;
            transition: background-color 0.5s;
        }
    }
}
.recursos h1{
    font-size: 44px;
    margin-bottom: 80px;
}
.recursos .cartilla .cartilla-imagen img{
    width: 70px;
}
.recursos .cartilla .cartilla-texto h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.acerca-de{
    height: 600px;
    padding: 5px 15%;
    margin-top: 200px;
    .cartillas{
        display: flex;
        justify-content: space-between;
    }
    .cartillas-texto{
        .cartilla-startup{
            border: 2px solid rgba(5, 17, 20, 0.1);
            border-radius: 10px;
            padding: 40px;
            width: 50%;
            margin-bottom: 20px;
        }
        .cartilla-plataforma{
            border: 2px solid rgba(5, 17, 20, 0.1);
            border-radius: 10px;
            padding: 40px;
            width: 50%;
            margin-bottom: 20px;
        }
    }
}
.acerca-de .cartillas .cartillas-texto .cartilla-startup h3, .cartilla-plataforma h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.acerca-de .cartillas .cartillas-texto .cartilla-startup p, .cartilla-plataforma p{
    font-weight: 300;
}
.acerca-de h2{
    text-align: center;
    font-size: 44px;
    margin-bottom: 80px;
}
.features{
    margin-top: 300px;
    padding: 5px 15%;
}
.features h2{
    font-size: 44px;
    text-align: center;
    margin-bottom: 80px
}
.features .cartillas-features .cartilla-feature-interior-1, .cartilla-feature-interior-2, .cartilla-feature-interior-3{
    display: flex;
    justify-content: space-evenly;
    .cartilla-1, .cartilla-2{
        width: 555px;
        margin: 20px;
        display: inline-block;
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid rgba(5, 17, 20, 0.1);
        .parrafo-cartilla{
            padding: 30px;
        }
        .parrafo-cartilla p{
            font-size: 16px;
            font-weight: 300;
        }
    }
}
.footer{
    margin-top: 200px;
}
.footer .primera-seccion{
    margin-bottom: 100px;
    height: 400px;
    background-color: #04A5E5;
    padding: 5px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    .redes{
        display: flex;
        margin: 50px auto 0px;
        width: fit-content;
        gap: 100px;
    }
}
.footer .primera-seccion .redes .facebook a, .instagram a, .twitter a{
    padding: 22px 25px 22px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .primera-seccion .redes .facebook h3, .instagram h3, .twitter h3{
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}
.footer .primera-seccion h2{
    font-size: 44px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.footer .segunda-seccion{
    padding: 5px 15%;
    .boton-login-footer{
        width: fit-content;
        margin: 0 auto;
    }
    .texto-ultima-linea{
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 5px;
    }
    .ultima-linea{
        display: flex;
        gap: 20px;
        width: fit-content;
        margin: 100px auto;
    }
}